<!-- _includes/adsense.html -->
<div style="margin: 20px 0;">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1778434822158282"
       crossorigin="anonymous"></script>
  <!-- above download link -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-1778434822158282"
       data-ad-slot="7660056024"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
