<header class="c-header">
  <div class="c-header__box">
    <div class="c-search">
      <div class="c-search__box">
        <label for="js-search-input" class="u-screen-reader-text">Search for Blog</label>
        <input type="text" id="js-search-input" class="c-search__text" autocomplete="off" placeholder="Type to search...">
        <div data-icon='ei-search' data-size='s'></div>
      </div>
      <ul id="js-results-container" class="c-search-results-list"></ul>
    </div>
    <nav class="c-nav">
      <ul class="c-nav__list u-lists-reset">
        <li class="c-nav__item"><a href="{{ site.baseurl }}/">HOME</a></li>
        <li class="c-nav__item"><a href="{{ site.baseurl }}/categories/">CATEGORIES</a></li>
        <li class="c-nav__item"><a href="{{ site.baseurl }}/tags/">TAGS</a></li>
        <li class="c-nav__item"><a href="{{ site.baseurl }}/archives/">ARCHIVES</a></li>
        <li class="c-nav__item"><a href="{{ site.baseurl }}/about/">ABOUT</a></li>
      </ul>
    </nav>
  </div>
</header> <!-- /.c-header -->